{% extends 'base.html' %}

{% block head %}
<title>Inventory Menu</title>
{% endblock %}

{% block body %}
   
  
  <div class="title">
  <h1 >Main Menu</h1>
</div>
   <div class = "buttons">
   
   <a href="/received"><button class="btn">Create Order Received</button></a>
   <a href="/receivedlist"><button class="btn">View Received Orders</button></a>
   <a href="/dispatchedform"><button class="btn">Create Dispatched Order</button></a>
   <a href="/dispatchedlist"><button class="btn">View Dispatched Orders</button></a>
   </div>

{% endblock %}