{% extends 'base.html' %}

{% block head %}
<title>List of Orders Received</title>
{% endblock %}

{% block body %}
    <form action="" method="GET">
        <input type="search" name="q" placeholder="Search..." style ="text-align: center; margin:8px;">
        <button type="submit">Search</button>
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Arrival Date</th>
            <th>Actions</th>
        </tr>
        {% for order in orders %} 
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.arrival }}</td>
            <td>
                <a href="/deleteor/{{order.id}}">Delete</a>
                <br>
                <a href="/recupdate/{{order.id}}">Update/View</a>
            </td>  
        </tr>
        {% endfor %}
    </table>
    <a href="/" style ="margin-left:49%; font-size: 1.2rem;">Menu</a>
    
        <div class="pagination">
            {% if pagination.has_prev %}
                <a href="{{ url_for('receivedlist', page=pagination.prev_num) }}">Previous</a>
            {% endif %}
        
            {% for page in pagination.iter_pages() %}
                {% if page != pagination.page %}
                    <a href="{{ url_for('receivedlist', page=page) }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% endfor %}
        
            {% if pagination.has_next %}
                <a href="{{ url_for('receivedlist', page=pagination.next_num) }}">Next</a>
            {% endif %}
        </div>
   
{% endblock %}