{% extends 'base.html' %}

{% block head %}
<title>Orders Recieved</title>
{% endblock %}

{% block body %}


<div class = "content">
    <h1 style="text-align: center">Order Received Form</h1>  
    <h4 style="text-align: center">Create an Order Received Entry below</h4>
    <form action="/received" method="POST">
        <div id="products">
            <div class="product">
                <h4>Product</h4><input type="text" name="product[]">
                <h4>Quantity</h4><input type="text" name="quantity[]" placeholder="Enter a number">
                <h4>Supplier</h4><input type="text" name="supplier[]">
                <h4>Pallets</h4><input type="text" name="pallet[]" placeholder="Enter a number">
                <h4>Cartons/box/cases</h4><input type="text" name="carton[]" placeholder="Enter a number">
                <h4>Pack</h4><input type="text" name="pack[]" placeholder="Enter a number">
                <h4>Weight(kg)</h4><input type="text" name="weight[]" placeholder="Enter a number">
            </div>
        </div>
        <button style="margin:10px" type="button" id="add-product">Add More Products</button>
        <h4>Arrival date</h4><input type="text" name="arrival" placeholder="DD/MM/YYYY">
        <input type="submit" value="Submit">
    </form>
    <div class = "links">
        <a href="/">Menu</a>
        <a href="/receivedlist">View Orders Received</a>
    </div>
</div>

<script>
    const addProductButton = document.getElementById('add-product');
    const productsContainer = document.getElementById('products');
  
    addProductButton.addEventListener('click', () => {
      const newProduct = document.createElement('div');
      newProduct.className = 'product';
      newProduct.innerHTML = `
        <h4>Product</h4><input type="text" name="product[]">
        <h4>Quantity</h4><input type="text" name="quantity[]">
        <h4>Supplier</h4><input type="text" name="supplier[]">
        <h4>Pallets</h4><input type="text" name="pallet[]">
        <h4>Cartons/box/cases</h4><input type="text" name="carton[]">
        <h4>Pack</h4><input type="text" name="pack[]">
        <h4>Weight</h4><input type="text" name="weight[]">
      `;
      productsContainer.appendChild(newProduct);
    });
  </script>

{% endblock %}