{% extends 'base.html' %}

{% block head %}
<title>View Orders Received</title>
{% endblock %}

{% block body %}
<div class = "content">
    <h1 style="text-align: center">Update Order Received Form</h1>
    
    <h4 style="text-align: center">Update an Order Received Entry below</h4>
    
<form action="/recupdate/{{orders.id}}" method="POST">
    <h4>FormID</h4><input type="text" value="{{ orders.id }}" readonly>
    <h4>Product</h4><input type="text" name="product" value="{{ orders.product }}">
    <h4>Quantity</h4><input type="text" name="quantity" value="{{ orders.quantity }}">
    <h4>Arrival Date</h4><input type="text" name="arrival" value="{{ orders.arrival }}" placeholder="DD/MM/YYYY">
    <h4>Date Created</h4><input type="text" name="date_created" value="{{ orders.date_created }}" readonly>
    <input type="submit" value="Add Order">
</form>
<a href="/">Menu</a>

</div>

{% endblock %}