{% extends 'base.html' %}

{% block head %}
<title>View Orders Received</title>
{% endblock %}

{% block body %}
<div class = "content">
    <h1 style="text-align: center">Update Order Received Form</h1>
    
    <h4 style="text-align: center">Update an Order Received Entry below</h4>
    
<form action="/recupdate/{{orders.id}}" method="POST">
    <h4>FormID</h4><input type="text" value="{{ orders.id }}" readonly>
    <h4>Arrival Date</h4><input type="text" name="arrival" value="{{ orders.arrival }}" placeholder="DD/MM/YYYY">
    <div id="products">
        {% for order_product in order_products %}
            <div class="product">
                <h4>Product</h4><input type="text" name="product[]" value="{{ order_product.product_name }}">
                <h4>Supplier</h4><input type="text" name="supplier[]" value="{{ order_product.supplier }}">
                <h4>Pallets</h4><input type="text" name="pallet[]" value="{{order_product.pallets}}" placeholder="Enter a number">
                <h4>Cartons/box/cases</h4><input type="text" name="carton[]" value="{{order_product.cartons}}" placeholder="Enter a number">
                <h4>Pack</h4><input type="text" name="pack[]"value="{{order_product.pack}}" placeholder="Enter a number">
                <h4>Weight</h4><input type="text" name="weight[]"value="{{order_product.weight}}" placeholder="Enter a number">
            </div>
        {% endfor %}
    </div>
    <button style = "margin:10px; "type="button" id="add-product">Add More Products</button>

    <h4>Date Created</h4><input type="text" name="date_created" value="{{ orders.date_created.replace(microsecond=0) }}" readonly>
    <input type="submit" value="Update Order">
</form>
<a href="/">Menu</a>

<script>
    const addProductButton = document.getElementById('add-product');
    const productsContainer = document.getElementById('products');
  
    addProductButton.addEventListener('click', () => {
      const newProduct = document.createElement('div');
      newProduct.className = 'product';
      newProduct.innerHTML = `
        <h4>Product</h4><input type="text" name="product[]">
        <h4>Supplier</h4><input type="text" name="supplier[]">
        <h4>Pallets</h4><input type="text" name="pallet[]">
        <h4>Cartons/box/cases</h4><input type="text" name="carton[]">
        <h4>Pack</h4><input type="text" name="pack[]">
        <h4>Weight</h4><input type="text" name="weight[]">
      `;
      productsContainer.appendChild(newProduct);
    });
</script>

</div>

{% endblock %}